<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdoptionServices" />
                <binding name="BasicHttpsBinding_IAdoptionServices">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAddressServices" maxReceivedMessageSize="2000000" />
                <binding name="BasicHttpBinding_IMaritalStateServices" />
                <binding name="BasicHttpsBinding_IMaritalStateServices">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IStateFileServices" />
                <binding name="BasicHttpsBinding_IStateFileServices">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IWorkerTypeServices" />
                <binding name="BasicHttpsBinding_IWorkerTypeServices">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IRoomHouseServices" />
                <binding name="BasicHttpsBinding_IRoomHouseServices">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://adoptionservice.azurewebsites.net/Contract/AddressServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressServices"
                contract="Address.IAddressServices" name="BasicHttpBinding_IAddressServices" />
            <endpoint address="http://adoptionservice.azurewebsites.net/Contract/AdoptionsServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdoptionServices"
                contract="Adoption.IAdoptionServices" name="BasicHttpBinding_IAdoptionServices" />
            <endpoint address="http://adoptionservice.azurewebsites.net/Contract/MaritalStateServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaritalStateServices"
                contract="MaritalState.IMaritalStateServices" name="BasicHttpBinding_IMaritalStateServices" />
            <endpoint address="http://adoptionservice.azurewebsites.net/Contract/StateFileServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStateFileServices"
                contract="StateFile.IStateFileServices" name="BasicHttpBinding_IStateFileServices" />
            <endpoint address="http://adoptionservice.azurewebsites.net/Contract/WorkerTypeServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkerTypeServices"
                contract="WorkerType.IWorkerTypeServices" name="BasicHttpBinding_IWorkerTypeServices" />
            <endpoint address="http://adoptionservice.azurewebsites.net/Contract/RoomHouseServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomHouseServices"
                contract="RoomHouse.IRoomHouseServices" name="BasicHttpBinding_IRoomHouseServices" />
        </client>
    </system.serviceModel>
</configuration>